{% extends 'blog/base.html' %}
{% load static %}

{% block title %}All My Posts{% endblock %}

{% block style_css %}
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/post.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/search-bar.css' %}" />

{% endblock %}

{% block content %}
    <section id="all-posts">
        <h2>My Collected Posts</h2>
        <form class="search-bar" action="{% url 'blog_page' %}" method="GET">
            {{ form }}
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="transparent" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-Search"><path d="M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0z"/></svg>
            </button>
     </form>
        <ul>
            {% for post in posts %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}