{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/app.css' %}">
    {% block style_css %}{% endblock %}
</head>
<body>
    <header id="main-navigation">
        <h1><a href="{% url 'index' %}">Petar' Blog</a></h1>
        <nav>
            <a href="{% url 'read_later' %}">Stored Post</a>
            <a href="{% url 'blog_page' %}">All Post</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>